
.slide-nav {
  animation-name: slide-nav;
  -webkit-animation-name: slide-nav;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  visibility: visible;

}
@keyframes slide-nav {
  0% {
    opacity: 1;
    transform: translateY(-70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide-nav {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.fade-anim-bot {visibility:hidden;}
.fade-bot {
  animation-name: fade-bot;
  -webkit-animation-name: fade-bot;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  visibility: visible;

}
@keyframes fade-bot {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes fade-bot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.fade-anim-left {visibility:hidden;}
.fade-left{
  animation-name: fade-left;
  -webkit-animation-name: fade-left;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes fade-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

.fade-left-loop{
  animation-name: fade-left-loop;
  -webkit-animation-name: fade-left-loop;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  visibility: visible;
}
@keyframes fade-left-loop {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  25% {
    opacity: 1;
    transform: translateX(0%);
  }
  75% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(70%);
  }
}
@-webkit-keyframes fade-left-loop {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  25% {
    opacity: 1;
    transform: translateX(0%);
  }
  75% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(70%);
  } 
}

.typeout {
  overflow: hidden;
  white-space: nowrap;
  margin: auto; 
  letter-spacing: .12em; 
  animation: 
    typeout 2.5s steps(30, end);
}

@media screen and (max-width: 600px) {
  .typeout {
    overflow: hidden;
    white-space: normal !important;
    margin: auto; 
    letter-spacing: .10em; 
    animation: 
      typeout 2.5s steps(20, end);
  }
}

/* The typing effect */
@keyframes typeout {
  from { width: 0 }
  to { width: 100% }
}
